<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ccbResources/ccbButtonHighlighted.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 101}, {24, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{24, 24}</string>
		</dict>
		<key>ccbResources/ccbButtonNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{27, 101}, {24, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{24, 24}</string>
		</dict>
		<key>ccbResources/ccbParticleFire.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 67}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>ccbResources/ccbParticleMagic.png</key>
		<dict>
			<key>frame</key>
			<string>{{79, 1}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>ccbResources/ccbParticleSmoke.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {64, 64}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>ccbResources/ccbParticleSnow.png</key>
		<dict>
			<key>frame</key>
			<string>{{69, 61}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>ccbResources/ccbParticleStars.png</key>
		<dict>
			<key>frame</key>
			<string>{{35, 67}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>ccbResources/ccbSliderBgHighlighted.png</key>
		<dict>
			<key>frame</key>
			<string>{{67, 1}, {28, 10}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 10}}</string>
			<key>sourceSize</key>
			<string>{28, 10}</string>
		</dict>
		<key>ccbResources/ccbSliderBgNormal.png</key>
		<dict>
			<key>frame</key>
			<string>{{67, 31}, {28, 10}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 10}}</string>
			<key>sourceSize</key>
			<string>{28, 10}</string>
		</dict>
		<key>ccbResources/ccbSliderHandle.png</key>
		<dict>
			<key>frame</key>
			<string>{{53, 101}, {24, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {24, 24}}</string>
			<key>sourceSize</key>
			<string>{24, 24}</string>
		</dict>
		<key>ccbResources/ccbTextField.png</key>
		<dict>
			<key>frame</key>
			<string>{{79, 35}, {20, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 20}}</string>
			<key>sourceSize</key>
			<string>{20, 20}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{128, 128}</string>
		<key>textureFileName</key>
		<string>ccbResources.png</string>
	</dict>
</dict>
</plist>
